<tr>
  <td {{> td-default-outside }}>
    <table {{> table-default }} >
        <!-- COPY -->
        <tr>
            <td {{> td-default }}>
                <p>{{{ text }}}</p>
            </td>
        </tr>
    </table>

  </td>
</tr>
