<tr>
  <td {{> td-default-outside }}>
    <table {{> table-default }} >
        <!-- COPY -->
        <tr>
            <td {{> td-default }}>
                <p>In the link below, you'll find a summary of the outstanding invoices for our customers.<br><br><a href="">Link Goes Here.</a></p>
            </td>
        </tr>
    </table>

  </td>
</tr>
