<tr>
  <td {{> td-default-outside }}>
    <table {{> table-default }} >
        <!-- COPY -->
        <tr>
            <td {{> td-default }}>
                <p>Greetings, <br><br> Here's some text about this email. You will find a bunch of different items on this page you can either use or delete.<br><br><a href="" style="color:#002d43;">Link Goes Here.</a></p>
            </td>
        </tr>
    </table>

  </td>
</tr>
