<tr>
    <td bgcolor="#eff5fc" align="center" style="padding:0px 10px 0px 10px">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">

            <tbody>
              <tr class="header-block">
              <th align="left" bgcolor="#4eb752" style="padding:20px 30px 20px 30px;border-radius:4px 4px 0px 0px;font-size:18px;font-weight:400">
        			  <h2 style="color:#eff5fc;">Important Notification</h2>
                <p style="font-size:14px;color:#002d43; margin-bottom:0px; font-weight: bold;">Engineering</p>
        			</th>
            </tr>
        </tbody>
      </table>

    </td>
</tr>
