<tr>
  <td {{> td-default-outside }}>
      <table {{> table-default }}>
      <tr>
        <td {{> td-default-center }}>
          <h1>Big Headline Here!</h1>
          <p>A subheadline goes here.</p>
        </td>
      </tr>
      </table>
      {{> line-divide }}
    </td>
</tr>
