<tr>
    <td bgcolor="#8d99a7" align="center" style="padding:0px 10px 0px 10px">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">

            <tbody>
              <tr class="header-block">
              <th class="left" align="left" bgcolor="#DDE6F0" style="padding:20px;border-radius:4px 0px 0px 0px;font-size:18px;font-weight:400">
        			  <h2 style="font-size:20px;font-weight:400;color:#002d43;margin-bottom:0">Welcome Pooja Jayaraman! <span class="line" style="font-size:28px;color:#02bcc2">|</span> <span class="team" style="font-size:12px;color:#002d43">Ad Ops Team</span></h2>
        			</th>
        			<th class="right" bgcolor="#DDE6F0" align="left" style="padding:30px 30px 30px 30px;border-radius:0px 4px 0px 0px;width:30%">
                <img class="logo" src="https://go.pardot.com/l/11352/2018-04-06/58wx3r/11352/189544/logo.png" alt="Unified Logo">
        			</th>
            </tr>
        </tbody>
      </table>

    </td>
</tr>
