<tr>
    <td bgcolor="#eff5fc" align="center">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
            <tbody>
							<tr>
                <td align="left" valign="top" style="padding: 30px 0px;">
                  <img class="logo" src="{{{ image }}}" style="margin-left:30px;" width="{{{ width }}}">
                </td>
            </tr>
        </tbody>
			</table>

    </td>
</tr>
