<table {{> table-default }} class="divider-wrapper" style="background-color:#ffffff">
	<tr>
		<td {{> td-default }} class="divider-spacer" bgcolor='#ffffff'>
			<table style="border-bottom: 1px solid #dde6f0;" cellpadding="0" cellspacing="0">
				<tr>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
