<tr>
  <td {{> td-default-outside }}>
  <table {{> table-default }}>
    <tr>
      <td {{> td-default }}>
        <ul>
          <p>Headline for list:</p>
          <li>Reason number one</li>
          <li>Reason number two</li>
          <li>Reason number three</li>
        </ul>
      </td>
    </tr>
  </table>
  </td>
</tr>
