<tr>
  <td {{> td-default-outside }}>
  <table {{> table-default }}>
    <tr>
      <td {{> td-default }}>
        <p style="border-left:4px solid #02bcc2; margin:10px 0px;padding:10px 20px 10px 12px;background-color:#eff5fc">This is a quote section, this can be used for welcome emails. Was handling units goodbye solo decide permission snail feeds them, thank-you co-registration email mso-line-height-rule pop do not full-service, disaster are above solid like switch to i. </p>
      </td>
    </tr>
  </table>
  </td>
</tr>
