<tr>
  <td {{> td-default-outside }}>
    <table {{> table-default }}>
      <tr>
        <td {{> td-default-center }}>
          <h2>Section Header Here!</h2>
          <p>More text to explain this if need be.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
