<tr>
  <td {{> td-default-outside }}>
      <table {{> table-default }}>
          <tr class="columns">
              <th {{> td-default-center }}>
                <div class="mobile-padding">
                  <img src="http://via.placeholder.com/300x300">
                  <h3>Label 1</h3>
                  <p>Check this out. Check it out.</p>
                  <p><a href="" style="color:#002d43;">Link Goes Here.</a></p>
                </div>
              </th>
              <th {{> td-default-center }}>
                <div class="mobile-padding">
                  <img src="http://via.placeholder.com/300x300">
                  <h3>Label 2</h3>
                  <p>Check this out. Check it out.</p>
                  <p><a href="" style="color:#002d43;">Link Goes Here.</a></p>
                </div>
              </th>
              <th {{> td-default-center }}>
                <div class="mobile-padding">
                  <img src="http://via.placeholder.com/300x300">
                  <h3>Label 3</h3>
                  <p>Check this out. Check it out.</p>
                  <p><a href="" style="color:#002d43;">Link Goes Here.</a></p>
                </div>
              </th>
          </tr>
      </table>
      <table {{> table-default }}>
        <tr class="columns">
            <th {{> td-default-center }}>
              <div class="mobile-padding">
                <p>This is some cool text blah blah blah blah. This is some cool text blah blah blah blah. This is some cool text blah blah blah blah.</p>
              </div>
            </th>
        </tr>
      </table>
      {{> line-divide }}
  </td>
</tr>
