<tr>
  <td {{> td-default-outside }}>
      <table {{> table-default }}>
          <tr class="columns">
            <th {{> td-default }}>
              <div class="mobile-padding">
                <img src="http://via.placeholder.com/300x250">
              </div>
            </th>
            <th {{> td-default }}>
              <div class="mobile-padding">
                <h2>This is a headline</h2>
                <p>This is some cool text blah blah blah blah.</p>
              </div>
            </th>
          </tr>
      </table>
      <table {{> table-default }}>
        <tr class="columns">
            <th {{> td-default-center }}>
              <div class="mobile-padding">
                <p>This is some cool text blah blah blah blah. This is some cool text blah blah blah blah. This is some cool text blah blah blah blah.</p>
              </div>
            </th>
        </tr>
      </table>
      {{> line-divide }}
  </td>
</tr>
