<tr>
  <td {{> td-default-outside }}>
    <table {{> table-default}}>
        <!-- COPY -->
        <tr>
            <td {{> td-default }}>
              <p>This is the end of the email!<br>Cheers, <br><span style="font-weight:bold;font-size:18px"><br>Jane Doe</span></p>
            </td>
        </tr>
    </table>

  </td>
</tr>
