---
layout: layout.hbs
subject: Event Template
---

<table {{> table-default }}>
  <tbody>
    {{> head-bg-grey }}
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 0px 10px">
        <table {{> table-default }}>
          <tbody>
            {{> headline-newsletter }}
            {{> picture-text }}
            {{> text-picture }}
            {{> picture-text }}
          </tbody>
        </table>
      </td>
    </tr>
    {{> footer-center }}
  </tbody>
</table>
