---
layout: layout.hbs
subject: Grid Template
---

<table {{> table-default }}>
  <tbody>
    {{> head-bg-grey }}
    {{> header-dos-engineering }}
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 0px 10px" >
        <table {{> table-default }}>
          <tr>
            <td {{> td-default }}>
              {{> notice type='warning' text='<strong>Hotfix</strong>' }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 0px 10px">
        <table {{> table-default }}>
          <tbody>
            {{> body-copy }}
            {{> list }}
            {{> signoff }}
          </tbody>
        </table>
      </td>
    </tr>
    {{> footer }}
  </tbody>
</table>
