---
layout: layout.hbs
subject: Letter Template
---

<table {{> table-normal }}>
  <tbody>

    {{> head-bg-grey }}

    {{> header-dos }}

    {{> letter-body }}

		{{> footer }}

  </tbody>
</table>
