---
layout: layout.hbs
subject: LEAD Newsletter
---

<table {{> table-default }}>
  <tbody>
    {{> head-bg-grey-nologo image='https://go.pardot.com/l/11352/2018-07-11/5lpt2g/11352/197535/unnamed_2.png' width="20%" }}
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 40px 10px;">
        <table {{> table-default }} >
          <tbody>
            <tr>
              <td {{> td-default }}>
                <div style="text-align:left; padding: 20px 0px;">
                  <h1 style="color:#086a85;font-weight:500">Lead Newsletter Header</h1>
                  <h3 style="color:#02bcc2">For the Ladies of LEAD and our Male Allies</h3>
                </div>
                <p style="border:1px solid #eff5fc;margin:10px 0px;"></p>
              </td>
            </tr>

            <tr>
              <td {{> td-default }}>
                <div style="text-align:left; padding: 20px 0px;">
                  <h2 style="font-weight:400;color:#086a85;">Welcome to LEAD Letter</h2>
                  <h3 style="color:#02bcc2">Your monthly newsletter from LEAD</h3>
                </div>
                <div style="text-align:left; padding: 0px 0px 10px 0px;">
                  <p>Each month we'll highlight upcoming events, inspirational women, and recommend relevant articles, webinars, and resources for self-learning. This newsletter aims to inspire, educate, and provide helpful resources so we can help the women of Unified achieve their career goals with confidence. In celebration of Pride Month...</p>
                  <img src="https://go.pardot.com/l/11352/2018-07-11/5lq19l/11352/197601/newsletter_sample.jpg">
                </div>
                <p style="border:1px solid #eff5fc;margin:10px 0px;"></p>
              </td>
            </tr>

            <tr>
              <td {{> td-default }}>
                <div style="text-align:left; padding: 20px 0px;">
                  <h2 style="font-weight:400;color:#086a85;padding-bottom:10px;">Women in LEADership Spotlight</h2>
                  <img src="https://go.pardot.com/l/11352/2018-07-11/5lq198/11352/197599/Screen_Shot_2018_06_11_at_3.24.46_PM.png">
                </div>
                <div style="text-align:left; padding: 0px 0px 10px 0px;">
                  <h3 style="font-size:24px;color:#086a85;">Jas Boothe</h3>
                  <h4 style="font-size:18px;color:#02bcc2;">The Power of Resilience</h4>
                </div>
                <div style="margin-bottom:30px;">
                  <p>Jas Boothe epitomizes the power of resilience and how much one person can do to make a positive change in the world. She is a disabled Army veteran, an activist, and the founder of Final Salute, an organization that seeks to provide safe and suitable housing to homeless women Veterans and their children. <br><br>In this podcast from our partners at Ellevate, Jas shares her story, ow she decided that she needed to take matters in her own hands to be a changemaker, and how the lessons she learned in the military have helped her in her new path.</p>
                  <a href="" target="_blank" style="font-size: 16px; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 12px;background-color:#4eb752; border: 1px solid #4eb752; display:inline-block;">Click Here To Listen Now</a>
                </div>
                <p style="border:1px solid #eff5fc;margin:10px 0px;"></p>
              </td>
            </tr>

            <tr>
              <td {{> td-default }}>
                <div style="text-align:left; padding: 20px 0px;">
                  <h2 style="font-weight:400;color:#086a85;">Upcoming Events!</h2>
                  <h3 style="color:#02bcc2">Please join us at our next LEAD event!</h3>
                </div>

                <div class="columns">
                  <div class="three-column" style="margin-right: 14px;">
                    <img src="http://via.placeholder.com/300x300">
                    <h3>uLA</h3>
                    <p>Coffee, Conversations & Colleagues</p>
                    <a href="" target="_blank" style="font-size: 12px; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 12px;background-color:#4eb752; border: 1px solid #4eb752; display:inline-block;">Click Here To RSVP</a>
                  </div>
                  <div class="three-column" style="margin-right: 14px;">
                    <img src="http://via.placeholder.com/300x300">
                    <h3>uNYC</h3>
                    <p>Coffee, Conversations & Colleagues</p>
                    <a href="" target="_blank" style="font-size: 12px; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 12px;background-color:#4eb752; border: 1px solid #4eb752; display:inline-block;">Click Here To RSVP</a>
                  </div>
                  <div class="three-column">
                    <img src="http://via.placeholder.com/300x300">
                    <h3>uLA</h3>
                    <p>LEAD Lunch <br>[BYOL]</p>
                    <a href="" target="_blank" style="font-size: 12px; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 12px;background-color:#4eb752; border: 1px solid #4eb752; display:inline-block;">Click Here To RSVP</a>
                  </div>
                </div>
                <p style="border:1px solid #eff5fc;margin:30px 0px 0px 0px;"></p>
              </td>
            </tr>

            <tr>
              <td {{> td-default }}>
                <div style="text-align:left; padding: 20px 0px;">
                  <h2 style="font-weight:400;color:#086a85;padding-bottom:10px;">Committee announcements</h2>
                </div>
                <div style="margin-bottom:30px;">
                  <ul>
                    <li>Announcement 1</li>
                    <li>Announcement 2</li>
                    <li>Announcement 3</li>
                  </ul>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>

  </tbody>
</table>
