---
layout: layout.hbs
---


<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="ffffff">
  <tbody>
    <tr>
        <td align="center" valign="top" width="100%" background="bg.jpg" bgcolor="#eff5fc" style="background: #eff5fc; background-size: cover; padding: 30px 15px 0 15px;" class="mobile-padding">

            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                <tr>
                    <td align="center">
                        <img src="https://go.pardot.com/l/11352/2018-03-08/57ypgf/11352/187156/ulife_weekly_updates_header_03.png" style="width:30%;">
                        <p style="color: #8d99a7; font-size: 20px; line-height: 28px; margin: 0; padding-bottom: 20px">
                          Week of June 3rd
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td align="center" height="100%" valign="top" width="100%" style="padding: 0 15px;" class="mobile-padding">

        </td>
    </tr>
    <tr>
        <td align="center" height="100%" valign="top" width="100%">

            <table bgcolor="ffffff" {{table-center-format}} style="margin-top:30px;">
                <tr>
                    <td align="center" valign="top" style="font-size:0; padding-bottom: 25px; border-bottom: 2px solid #eeeeee;">

                        <div style="display:inline-block; max-width:100%; min-width:280px; vertical-align:top; width:100%;" class="mobile-wrapper">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="max-width">
                                <tr>
                                    <td align="center" valign="top">
                                        <h2 style="color: #086a85; line-height: 28px;font-weight: bold; margin-bottom:0px;">
											                      "In Spring, at the end of the day, you should smell like dirt."
                                        </h2>
										                      <p style="font-size: 16px; font-weight: normal; text-align:center;margin-top: 10px; color:#086a85;">—Margaret Atwood</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
            </table>

        </td>
    </tr>

	<tr>
		<td>
			<table bgcolor="ffffff" {{table-center-format}} style="margin:10px 0px; border-bottom: 2px solid #eeeeee;">
				<tr>
					<td style="text-align: center; padding: 5px;">
						<h2 style="color:#02bcc2">Maybe this is a good weekend to pick up on that indoor plant trend?</h2>
						<p style="color:#002d43;"></p>
					</td>
				</tr>
        <th>
          <div class="mobile-padding">
            <img src="https://go.pardot.com/l/11352/2018-06-07/5jhg5t/11352/195240/dance.gif">
          </div>
        </th>
			</table>
		</td>
	</tr>

  <tr>
    <td>
      <table bgcolor="ffffff" {{> table-default }} >
        <tr>
          <td align="center" style="padding: 20px 0px;">
            <h2><strong>Announcements</strong></h2>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
        <table bgcolor="ffffff" style="margin:10px 0px;border-bottom: 2px solid #eeeeee;margin:10px 0px;">
            <tr class="columns">
                <th style="padding:10px;">
                  <div class="mobile-padding">
                    <img src="https://go.pardot.com/l/11352/2018-03-09/57ypkf/11352/187162/party_popper_1f389_half.png">
                    <h3 style="margin:0px 0px 20px 0px;">Upcoming Anniversaries</h3>
                    <p style="margin-bottom:5px">June 10—Brooke Champagne, Account Management, NYC (3 years)</p>
                    <p style="margin-bottom:5px">June 12—Christina Ronzani, Account Management, LA (1 year)</p>
                  </div>
                </th>
            </tr>
        </table>
<!--
        <table style="border-bottom: 2px solid #eeeeee;margin:10px 0px;">
            <tr class="columns">
              <th style="padding:10px;">
                <div class="mobile-padding">
                  <img src="https://go.pardot.com/l/11352/2018-03-09/57ypk9/11352/187158/birthday_cake_1f382_half.png">
                  <h3 style="margin:0px 0px 20px 0px;">Upcoming Birthdays</h3>
                  <p style="margin-bottom:5px">May 1—Chris Falcioni, Sales, LA (1 year)</p>
                  <p style="margin-bottom:5px">May 1—Dustin Moseley, Business Development, NYC (3 years)</p>
                  <p style="margin-bottom:5px">May 1—Kitty Louie, Engineering, NYC (3 years)</p>
                </div>
              </th>
            </tr>
        </table> -->
    </td>
  </tr>

	<tr>
        <td>
            <table bgcolor="ffffff"align="center" style="margin:10px 0px;">
      				<tr>
      					<td align="center" style="padding: 20px 0px;">
      						<h2 style="margin-top: 0px;"><strong>Lightning Round: Allison Hellander, Campaign Management, NYC</strong></h2>
      					</td>
      				</tr>
              <tr>
                <td>
                    <table style="text-align:center;border-bottom: 2px solid #eeeeee;padding:10px;">
                        <tr class="columns">
                          <th style="padding:20px;background-color: #dde6f0;border-radius:2px;">
                            <div class="mobile-padding">
                              <p style="margin-bottom:0px;">If you could have your ideal garden, what would the four feature plants be?</p>
                            </div>
                          </th>
                          <th style="padding:20px;background-color: #02bcc2;border-radius:2px;">
                            <div class="mobile-padding">
                              <p style="color:#ffffff;margin-bottom:0px;"><strong>In my ideal garden, I would have 2 snake plants and 2 golden pothos (the only plants that have survived in my apartment!)<strong></p>
                            </div>
                          </th>
                        </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <td>
                    <table bgcolor="ffffff" style="text-align:center;border-bottom: 2px solid #eeeeee;padding:10px;">
                        <tr class="columns">
                          <th style="padding:20px;background-color: #dde6f0;border-radius:2px;">
                            <div class="mobile-padding">
                              <p style="margin-bottom:0px;">Best show you've seen recently?</p>
                            </div>
                          </th>
                          <th style="padding:20px;background-color: #02bcc2;border-radius:2px;">
                            <div class="mobile-padding">
                              <p style="color:#ffffff;margin-bottom:0px;"><strong>Best show I've seen lately was The Marvelous Mrs. Maisel on Amazon Prime—recommended by my fellow CC, Stefanie!<strong></p>
                            </div>
                          </th>
                        </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <td>
                    <table bgcolor="ffffff" style="text-align:center; padding:10px;">
                        <tr class="columns">
                          <th style="padding:20px;background-color: #dde6f0;border-radius:2px;">
                            <div class="mobile-padding">
                              <p style="margin-bottom:0px;">Your best friend challenges you to a game of tic tac toe. Will you win? </p>
                            </div>
                          </th>
                          <th style="padding:20px;background-color: #02bcc2;border-radius:2px;">
                            <div class="mobile-padding">
                              <p style="color:#ffffff;margin-bottom:0px;"><strong>I always win a game of Triple T. Challengers welcome!<strong></p>
                            </div>
                          </th>
                        </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <td>
                    <table bgcolor="ffffff" style="text-align:center;border-bottom: 2px solid #eeeeee;padding:0px 10px;">
                        <tr class="columns">
                          <th>
                            <div class="mobile-padding">
                              <img src="https://go.pardot.com/l/11352/2018-06-07/5jhg61/11352/195246/unnamed__2_.gif">
                            </div>
                          </th>
                        </tr>
                    </table>
                </td>
              </tr>
            </table>
        </td>
    </tr>

    <tr>
      <td>
        <table bgcolor="ffffff" {{> table-default }} >
          <tr>
            <td align="center" style="padding: 20px 0px;">
              <h2><strong>Company Buzz</strong></h2>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
          <table bgcolor="ffffff" style="border-bottom: 2px solid #eeeeee;margin:10px 0px;">
              <tr class="columns">
                  <th style="padding:10px;">
                    <div class="mobile-padding">
                      <h3>To celebrate Pride, make sure you update your email signature with our special, Pride month version! </h3>
                    </div>
                  </th>
                  <!-- <th style="padding:10px;">
                    <div class="mobile-padding">
                      <h3>Company Buzz 2</h3>
                    </div>
                  </th> -->
              </tr>
          </table>

          <!-- <table align="center" style="border-bottom: 2px solid #eeeeee;margin:10px 0px;">
            <tr>
              <td>
                <img width="100%" src="http://via.placeholder.com/600x250">
              </td>
            </tr>
          </table> -->

      </td>
    </tr>

    <tr>
      <td>
        <table bgcolor="ffffff" {{> table-default }} >
          <tr>
            <td align="center" style="padding: 20px 0px;">
              <h2><strong>Fun Facts</strong></h2>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
          <table bgcolor="ffffff">
              <tr class="columns">
                  <th style="padding:10px;background-color:#dde6f0">
                    <div class="mobile-padding">
                      <h3 style="font-size:14px;">"Crayon" is the French word for "pencil."</h3>
                    </div>
                  </th>
                  <th style="padding:10px;background-color:#dde6f0">
                    <div class="mobile-padding">
                      <h3 style="font-size:14px;">Pangrams are sentences that contain all the letters of the alphabet.</h3>
                    </div>
                  </th>
                  <th style="padding:10px;background-color:#dde6f0">
                    <div class="mobile-padding">
                      <h3 style="font-size:14px;">On June 8, 1984, Ghostbusters was released.</h3>
                    </div>
                  </th>
              </tr>
          </table>

          <table bgcolor="ffffff" align="center" style="border-bottom: 2px solid #eeeeee;margin:10px 0px;">
            <tr>
              <td>
                <img width="100%" src="https://go.pardot.com/l/11352/2018-06-07/5jhg5y/11352/195244/unnamed__1_.gif">
              </td>
            </tr>
          </table>

      </td>
    </tr>

    <tr>
      <td>
        <table bgcolor="ffffff" {{> table-default }} >
          <tr>
            <td align="center" style="padding: 20px 0px;">
              <h2><strong>This Weekend In Your Area</strong></h2>
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr>
      <td>

        <table bgcolor="ffffff" align="center" style="text-align:center;">
          <tr>
            <td>
              <p><strong>ATL—</strong> #BonfireATL, Murphy Park Fairgrounds</p>
              <p><strong>AUS—</strong> Beyonce Video Dance Party, Alamo Drafthouse Cinema</p>
              <p><strong>LA—</strong> LA Pride, West Hollywood</p>
              <p><strong>NYC—</strong> Mister Sunday, Ridgewood</p>
              <p><strong>SF—</strong> Festival Of The Impossible, Dogpatch neighborhood</p>
            </td>
          </tr>
        </table>

        <table bgcolor="ffffff" align="center" style="border-bottom: 2px solid #eeeeee;margin:10px 0px;">
          <tr>
            <td>
              <img width="100%" src="https://go.pardot.com/l/11352/2018-06-07/5jhg5w/11352/195242/dolfin.gif">
            </td>
          </tr>
        </table>

      </td>
    </tr>

    <!-- <tr>
        <td align="center" height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="padding: 40px 15px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                <tr>
                    <td align="center" valign="top">
                        <img src="https://d33wubrfki0l68.cloudfront.net/a706909a8d4f9cf656ef9c9d98acefedd9c30cb2/96293/img/unified.svg" width="100" border="0" style="display: block;">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="margin-top:20px;">
                        <p style="font-size: 14px; line-height: 20px;">#uLife Weekly Updates</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr> -->
  </tbody>
</table>
