---
layout: layout.hbs
subject: Product
---

<table {{> table-default }}>
  <tbody>
    {{> head-bg-grey }}
    {{> header-dos-product text='Welcome!' }}
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 0px 10px">
        <table {{> table-default }}>
          <tbody>
            {{> add-copy text='You have been added to The Unified Platform. Outlook harvesting also uniform color program pgp deploy how not cross-post well subscriber, opt-in override not it interactive switch web if text interface suppression. Dpi pulling above cell plain beacon.' }}
            {{> add-copy text='This email was sent to username. Temporary password below:' }}
            <tr>
              <td {{> td-default-outside }} >
                <table {{> table-default }}>
                  <tr>
                    <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 0px 30px;">
                      {{> notice type='info' text='{XXXX}' }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {{> button }}
            {{> signoff }}
          </tbody>
        </table>
      </td>
    </tr>
    {{> footer }}
  </tbody>
</table>
