---
layout: layout.hbs
subject: Product
---

<table {{> table-default }}>
  <tbody>
    {{> head-bg-grey }}
    {{> header-dos-product text='Reporting Error' }}
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 0px 10px" >
        <table {{> table-default }}>
          <tr>
            <td {{> td-default }}>
              {{> notice type='info' text='<strong>Your report is available for download:</strong>' }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td {{> td-default-outside }} style="padding:0px 10px 0px 10px">
        <table {{> table-default }}>
          <tbody>
            {{> add-copy text='Outlook harvesting also uniform color program pgp deploy how not cross-post well subscriber, opt-in override not it interactive switch web if text interface suppression. Dpi pulling above cell plain beacon through, spf notus imap and looks, all deduplication adjust using tool.' }}
            {{> button }}
            {{> add-copy text='Having Trouble? Please try copying and pasting the URL below. <br><a href="#">https//our-very-long-url-in-plain-text</a>' }}
            {{> signoff }}
          </tbody>
        </table>
      </td>
    </tr>
    {{> footer }}
  </tbody>
</table>
